
*/
/***** Labrot-navbar ***************************/
.labrot-rm-padding{
    padding: 0;


}
.labrot-rm-margin{
    margin: 0;
}
.section-padding{
    padding-bottom: 20px;
}


#myNavbar {

    display: flex;
    flex-direction: row;
   
}
h1 {
    display: inline;
}
ul {
    display: flex;
    color:rgb(247, 106, 252);

}

li {margin: 20px;
}

/***********Home Section***********/

.carousel.labrot-home-carousel .carousel-inner .carousel-caption.labrot-carousel-caption h3{
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    font-weight: 900;
    font-size: 100px;
    color: #f867ca;
    transform: translate(-50%, -50%);
    text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
    animation-name: fade-slide-one-one;
    animation-duration: 3s;
}
@keyframes fade-slide-one-one {
  0% {
    position: absolute;
    opacity: 0;
  }
  100% {
    position: absolute;
    opacity: 1;
  }
}
.carousel-caption.custom-caption {
    position: absolute;
    font-family: 'PT Sans', sans-serif;
    top: 0;
    right: 0%;
    bottom: 0px;
    left: 0%;
    z-index: 10;
    padding-top: 0px;
    padding-bottom: 0px;
}
html,
body,
.carousel.labrot-home-carousel,
.carousel-inner.labrot-carousel-inner,
.carousel-inner.labrot-carousel-inner .item{
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: rgba(0,0,0,0.6);
}


.carousel.labrot-home-carousel{
    background: linear-gradient(to left, #d5dedf, #57585a);
    position: relative;
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 60px);
    min-width: 100%;
    
}
.carousel-inner.labrot-carousel-inner .item:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: "";
    background: rgba(1,1,1,.2);
}

.carousel.labrot-home-carousel{
    position: relative;

}

.carousel.labrot-home-carousel  .left.carousel-control, .carousel.labrot-home-carousel  .right.carousel-control{
    background-image: none;
}
.labrot-home-carousel .carousel-indicators li{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    border: 2px solid #eeeeee;
    border-radius: 10px;
}
.labrot-home-carousel .carousel-indicators .active{
    background-color: #eeeeee;
}
.labrot-home-carousel .carousel-indicators{
    position: absolute;
    bottom: 100px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;

}
.labrot-down-icon{
    font-size: 50px;
    color: #eeeeee;
    cursor: pointer;
    animation: downbtn 1.5s infinite;
}
@keyframes downbtn {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translateY(10px);
    }
    40% {
        transform: translate(0, 0);
    }
}
/***** Home Section Over*******************/

/****** labrot-about-section *****************************/
.labrot-about-container{
    position: relative;
    display: table;
}
.labrot-about-detail-box{
    position: relative;
    display: table-cell;
    vertical-align: middle;
    height: calc(100vh - 60px);
}
.labrot-section-ttl{
    position: relative;
    display: block;
    font-family: 'Lato', sans-serif;
    color: #222831;
    text-align: center;
    margin: 0;
    padding: 40px 0;
}
.labrot-section-ttl:after{
    position: absolute;
    bottom: 20px;left: 0;
    right: 0;
    margin: 0 auto;
    content: '';
    background-color: #f867ca;
    height: 3px;
    width: 40px;
}
.labrot-about-dark-detail{
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    color: #222831;
    text-align: center;
    font-weight: 600;
    padding: 30px 80px;
}
.labrot-about-deep-detail{
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #222831;
    text-align: center;
    font-weight: 400;
    padding: 0 20px;
    margin: 0;
}
.labrot-about-img{
    position: relative;
    display: inline-block;
    background-image: url(../images/about.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 60px);
    min-width: 100%;
}


/***** Labrot portfolio *******/
.labrot-portfolio-container{
    position: relative;
    margin-bottom: 20px;
}
.labrot-portfolio-item{
    position: relative;

}
.labrot-rm-padding:hover .labrot-port-hover-head, .labrot-rm-padding:hover .labrot-port-hover-sub-head, .labrot-rm-padding:hover .labrot-port-hover-icon{
    visibility: visible;
    opacity: 1;
}

.labrot-port-img.img-responsive {
   
        position: relative;
        display: inline-block;
        background-image: url(assets/images/portfolio/port-1.jpeg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: calc(100vh - 60px);
        min-width: 100%;

}



*/


.labrot-port-all-btn:active:focus, .labrot-port-all-btn:active{
    outline: none;
    border: 2px solid  #222831;
    background-color:  #222831;
    color: #eeeeee;
    box-shadow: inset 0px 0px 10px rgba(255,255,255, 0.05);
    transform: translateY(1px);
}
.labrot-btn-icon{
    position: relative;
}




/******* labrot contact section ******/ 
.map-container{
    position: relative;
    display: block;
    padding-bottom: 20px;
}
.contact-sub-box{
    text-align: center;
}
.labrot-contact-icon{
    font-size: 40px;
    color: #f867ca;
}
.labrot-contact-box-head{
    font-family: 'Lato', sans-serif;
    color: #222832;
    font-weight: 600;
}
.labrot-contact-detail{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #222832;
}
.gmap_canvas{
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 400px;
    z-index: 2;
}
.labrot-contact-form{
    margin: 0 auto;
    border-radius: 2px;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: rgba(1,1,1,0.8);
    text-align: center;
    z-index: 5;
}
.labrot-form-input{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #222832;
    border-radius: 2px;
    box-shadow: none;
    background-color: #eeeeee;
}
.labrot-form-input:focus{
    box-shadow: none;
    outline: none;
}
.labrot-form-btn{
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    border-radius: 2px;
    border: 2px solid #f867ca;
    background-color: #eeeeee;
    color: #0092CA;
    padding: 5px 20px;
    transition: .3s;
}
.labrot-form-btn:hover{
    border: 2px solid #f867ca;
    background-color: #f867ca;
    color: #eeeeee;
}
.labrot-form-btn:focus{
    outline: none;
    border: 2px solid #f867ca;
    background-color: #eeeeee;
    color: #0092CA;
}
.labrot-form-btn:active:focus, .labrot-form-btn:active{
    outline: none;
    border: 2px solid #f867ca;
    background-color: #f867ca;
    color: #eeeeee;
    box-shadow: inset 0px 0px 10px rgba(0,0,0, 0.25);
    transform: translateY(1px);
    transition: .2s;
}




